@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

.top-logo-section {
  margin-top: 80px;
  width: 119px;
  margin-left: auto;
  margin-right: auto;
}

.main-headliner-section {
  margin-top: 61px;
  display: flex;
  justify-content: space-around;
  height: 358px;
  margin-top: 61px;
  margin-left: auto;
  margin-right: auto;
}

.text-cta-container {
  width: 540px;
  margin: 0 88px;
  text-align: center;
}

.main-text {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 64px;
  margin-top: 30px;
  width: 445px;
  margin: 0 auto;
}

.sub-text {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #87879d;
  margin-top: 34px;
  width: 540px;
}

.cta-container {
  margin-top: 32px;
}

.cta-container a {
  text-decoration: none;
}

.cta-container #button-1 {
  background: #4d96a9;
  padding: 16px 40px;
  border-radius: 29px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #ffffff;
}

.cta-container #button-1 span {
  color: #8fe3f9;
}

.cta-container #button-2 {
  background: #855fb1;
  padding: 16px 29px;
  border-radius: 29px;
  margin-left: 16px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #ffffff;
}

.figure-container {
  margin-top: 110px;
}

.secondary-figure-container {
  margin-top: 72px;
}

.vertical-line-container {
  width: 1px;
  height: 84px;
  border: 1px solid #87879d;
  margin: 0 auto;
  opacity: 0.25;
}

.figure-container .circular-number-container{
  width: 56px;
  padding: 15px 19px;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 29px;
  margin: 0 auto;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #87879d;
}

.secondary-figure-container .circular-number-container {
  width: 56px;
  padding: 15px 19px;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 29px;
  margin: 0 auto;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #87879d;
  background: #ffffff;
  position: relative;
  top: 28px;
  z-index: 100;

}

.secondary-figure-container .vertical-line-container{
  width: 1px;
  height: 84px;
  border: 1px solid #87879d;
  margin: 0 auto -28px auto;
  opacity: 0.25;

}

.secondary-images-container {
  display: flex;
  gap: 30px;
  width: 1110px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.secondary-images-container img {
  width: 255px;
  border-radius: 10px;
}

.secondary-text-section {
  margin-top: 80px;
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.secondary-text-section .secondary-title__green {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 4px;
  color: #4d96a9;
  height: 26px;
  width: 275px;
  margin: 0 auto;
}

.secondary-text-section .secondary-title__bold {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  width: 445px;
  margin: 16px auto 32px auto;
}

.secondary-text-section .secondary-desc__light {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #87879d;
  width: 540px;
  text-align: center;
  line-height: 26px;
}

.footer {
  height: 308px;
  background: rgb(77,150,168);
  width: 1440px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:116px 116px 104px 116px;
}

.layer {
  background: url(assets/desktop/image-footer.jpg);
  height: 308px;
  width: 1440px;
  position: absolute;
  opacity: 0.1;
}


.footer-content .footer-bold-text{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: #ffffff;
  z-index: 12;
  width: 350px;
}

.footer-content .footer-light-text{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  z-index: 12;
  width: 350px;
}

.footer-content .footer-cta-section a{
    text-decoration: none;
    color: #ffffff;
}

.footer-content .footer-cta-section{
  background: #855fb1;
  padding: 16px 40px;
  border-radius: 29px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 16px;
  z-index: 12;
 }

 .footer-content .footer-cta-section span{
   color: #D9B8FF;
 }


 /* media queries */
